*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index:calc(1vw+1vh);
    --color-header: #f4efec;
    --color-text:#cdc6c3;    
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}


@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

h1,h2,h3,h4{
    font-family: outfit-c;
}

body{
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
}

.hero{
    width: calc(var(--index)*42);
    position: absolute;
    left:37vw;
    top:8vh;
}

.container{
    padding: 0 10vw;
}

.main-header{
    height: 100vh;
}

.main-title{
    font-size: calc(var(--index)*8);
    position: absolute;
    width: min-content;
    bottom: 12vh;
    line-height: 0.9;
}